extends admin/layout

append userScripts
    script(type="text/javascript").
        $('.destroy').live('click', function(e) {
            e.preventDefault();
            if ($(this).is('.disabled')) return;
            if (confirm('Are you sure you want to delete?')) {
                var element = $(this),
                    form = $('<form></form>');
                form
                    .attr({
                        method: 'POST',
                        action: element.attr('href')
                    })
                    .hide()
                    .append('<input type="hidden" />')
                    .find('input')
                    .attr({
                        'name': '_method',
                        'value': 'delete'
                    })
                    .end()
                    .submit();
            }
        });
append content
    section
        h1 User index
        a.btn(href="/admin/user/add") Add a new user
        table
            thead
                tr
                    th Username
                    th Email
            - if (users && users.length > 0)
                - each user in users
                    tr(id='user_#{user.id}')
                        td(id='user#{user.id}_username') 
                            a(href="/admin/user/show/#{user.id}") #{user.username}
                        td(id='user#{user.id}_email') #{user.email}
                        td(id='user#{user.id}_delete')
                            form(method="post", action="/admin/user/#{user._id}")
                                input(type="hidden", name="_method", value="delete")        
                                input.btn.btn-primary(type="submit", value="Delete")
            - else
                tr
                    td No users found.